In [28]:
#Name : Srinidhi Acharla


import pandas as pd
import numpy as np

### 1. Read data (inflation2.csv) into a dataframe calls df

In [4]:
# insert code here
df = pd.read_csv("C:/Users/Srinidhi/Documents/USF/Data_Science_Programming/week10_assignment/inflation2.csv")
df.head()

       Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
1914   2.0   1.0   1.0   0.0   2.1   1.0   1.0   3.0   2.0   1.0   1.0   1.0
1915   1.0   1.0   0.0   2.0   2.0   2.0   1.0  -1.0  -1.0   1.0   1.0   2.0
1916   3.0   4.0   6.1   6.0   5.9   6.9   6.9   7.9   9.9  10.8  11.7  12.6
1917  12.5  15.4  14.3  18.9  19.6  20.4  18.5  19.3  19.8  19.5  17.4  18.1
1918  19.7  17.5  16.7  12.7  13.3  13.1  18.0  18.5  18.0  18.5  20.7  20.4

### 2. Shape the data into a one dimensional array

In [23]:
# insert code here
df = np.array(df)
df= df.reshape(-1)
df.shape

(1308,)

### 3. Create sequences of 4 inflation figures. These are observations with 3 time_steps and one y. Do not use a sliding window. Split the data into sequences of 4 with no overlap.

In [39]:
# insert code here
sequence = df.size//4
X = df[:sequence*3].reshape(-1,3)

### 4. Extract the y column from the data

In [42]:
# Insert code here
y= df[3:sequence*4:4]
y.shape

(327,)

### 5. Print the average of the y values

In [43]:
# insert code here
avg = np.mean(y)
avg

3.2758409785932723

### 6. Reshape the data for this it's sequences of 5 values, 4 being the timesteps, and the 5th being the target y value.

In [38]:
# insert code here
data =df.reshape((261,5))
X = data[:,:-1]
y=data[:,-1]

ValueError: cannot reshape array of size 1308 into shape (261,5)

##