In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [8]:
df = pd.read_csv('C:/Users/Srinidhi/Documents/USF/Data_Science_Programming/final_week/inflation2.csv')
df.head(5)

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1914,2.0,1.0,1.0,0.0,2.1,1.0,1.0,3.0,2.0,1.0,1.0,1.0
1,1915,1.0,1.0,0.0,2.0,2.0,2.0,1.0,-1.0,-1.0,1.0,1.0,2.0
2,1916,3.0,4.0,6.1,6.0,5.9,6.9,6.9,7.9,9.9,10.8,11.7,12.6
3,1917,12.5,15.4,14.3,18.9,19.6,20.4,18.5,19.3,19.8,19.5,17.4,18.1
4,1918,19.7,17.5,16.7,12.7,13.3,13.1,18.0,18.5,18.0,18.5,20.7,20.4

In [11]:
data = df.to_numpy()
data[:3]

array([[ 1.914e+03,  2.000e+00,  1.000e+00,  1.000e+00,  0.000e+00,
         2.100e+00,  1.000e+00,  1.000e+00,  3.000e+00,  2.000e+00,
         1.000e+00,  1.000e+00,  1.000e+00],
       [ 1.915e+03,  1.000e+00,  1.000e+00,  0.000e+00,  2.000e+00,
         2.000e+00,  2.000e+00,  1.000e+00, -1.000e+00, -1.000e+00,
         1.000e+00,  1.000e+00,  2.000e+00],
       [ 1.916e+03,  3.000e+00,  4.000e+00,  6.100e+00,  6.000e+00,
         5.900e+00,  6.900e+00,  6.900e+00,  7.900e+00,  9.900e+00,
         1.080e+01,  1.170e+01,  1.260e+01]])

In [15]:
data = data.flatten()
data.shape

(1417,)

In [16]:
# Define the list of inflation figures
inflation_figures = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# Define an empty list to store the observations
observations = []

# Create sliding window of size 10 and append to observations list
for i in range(len(inflation_figures) - 10):
    observation = inflation_figures[i:i+10]
    y = inflation_figures[i+10]
    observations.append((observation, y))

# Print the observations
print(observations)

[([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 11)]

In [17]:
# Extract the first 10 inflation numbers from each observation and append to X array
for i in range(len(observations) - timesteps + 1):
    observation = observations[i:i+timesteps]
    X.append(observation)

# Print X values
print('X:', X)

X: [array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])]

In [19]:
y.shape

AttributeError: 'int' object has no attribute 'shape'